<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Acowzon(acowzon.com)</title>
    <link href=".\reset.css" rel="stylesheet" type="text/css"/>
    <link href=".\reset.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</head>
<body>

<div class="header_box">
    <p class="fl">Welcome to Acowzon</p>
    <ul class="login_box fr">
        <li><a href="#">LOG IN</a></li>
        <li><a href="#">SIGN IN</a></li>
        <li><a href="#">MYORDER</a></li>
    </ul>
</div>


<div class="content_box">
    <div class="banner centerbox">
        <div class="logo fl">
            <img src="D:\Acowzonpage\logo.png">
        </div>
        <div class="search fl">
            <input class="usrinput fl" type="text" placeholder="Search">
            <input id="btnsearch" class="fl" type="button" value="Search">
        </div>
        
    </div>

    <div class="navigationbar_box">
        <div class="navigationbar centerbox">
            <h1 class="allgoods fl">All commodity categories</h1>
            <ul class="hmenu fl">
                <li><a href="#">HomePage</a></li>
            </ul>

        </div>
    </div>

    <div class="hot centerbox">
        <ul class="vmenu fl">
            <li><a href="#" class="fruit">Fresh fruit</a></li>
            <li><a href="#" class="seafood">Seafood</a></li>
            <li><a href="#" class="meat">Beef, mutton and pork</a></li>
            <li><a href="#" class="egg">Poultry egg products</a></li>
            <li><a href="#" class="vegetable">Fresh Vegetables</a></li>
            <li><a href="#" class="frozen">Frozen Foods</a></li>
        </ul>

        <div class="gallery fl">

            <ul class="sliders">
                <li><a href="javascript:;"><img src="images/slide.jpg"></a></li>
                <li><a href="javascript:;"><img src="images/slide02.jpg"></a></li>
                <li><a href="javascript:;"><img src="images/slide03.jpg"></a></li>
                <li><a href="javascript:;"><img src="images/slide04.jpg"></a></li>
            </ul>

            <a href="#" class="prev"></a>
            <a href="#" class="next"></a>
            <ul class="dots"></ul>
        </div>

        <div class="ads fl">
            <img src="images/adv01.jpg" class="fl">
            <img src="images/adv02.jpg" class="fl">
        </div>
    </div>

    <div>
        <div class="goodsmenu centerbox">
            <h2 class="fl">Fresh fruit</h2>
            <ul class="submenu fl">
                <li><a href="#">Fresh awn</a></li>
                <li><a href="#">California grape</a></li>
                <li><a href="#">Avocado</a></li>
            </ul>

            <a href="#" class="more fr">MORE&gt&gt</a>
        </div>

        <div class="goods centerbox">
            <div class="face fl">
                <img src="images/banner01.jpg">
            </div>
            <ul class="goodspic fl">
                <li>
                    <h4>Strawberry</h4>
                    <a href="#"><img src="images/goods_pic.jpg"></a>
                    <span>￥38.00</span>
                </li>
                <li>
                    <h4>Grape</h4>
                    <a href="#"><img src="images/goods_pic.jpg"></a>
                    <span>￥38.00</span>
                </li>
                <li>
                    <h4>Strawberry</h4>
                    <a href="#"><img src="images/goods_pic.jpg"></a>
                    <span>￥38.00</span>
                </li>
                <li>
                    <h4>Strawberry</h4>
                    <a href="#"><img src="images/goods_pic.jpg"></a>
                    <span>￥38.00</span>
                </li>
            </ul>
        </div>
    </div>

    <div>
        <div class="goodsmenu centerbox">
            <h2 class="fl">Fresh fruit</h2>
            <ul class="submenu fl">
                <li><a href="#">Fresh awn</a></li>
                <li><a href="#">California grape</a></li>
                <li><a href="#">Avocado</a></li>
            </ul>

            <a href="#" class="more fr">MORE&gt&gt</a>
        </div>

        <div class="goods centerbox">
            <div class="face fl">
                <img src="images/banner02.jpg">
            </div>
            <ul class="goodspic fl">
                <li>
                    <h4>Strawberry</h4>
                    <a href="#"><img src="images/goods_pic.jpg"></a>
                    <span>￥38.00</span>
                </li>
                <li>
                    <h4>Strawberry</h4>
                    <a href="#"><img src="images/goods_pic.jpg"></a>
                    <span>￥38.00</span>
                </li>
                <li>
                    <h4>Strawberry</h4>
                    <a href="#"><img src="images/goods_pic.jpg"></a>
                    <span>￥38.00</span>
                </li>
                <li>
                    <h4>Strawberry</h4>
                    <a href="#"><img src="images/goods_pic.jpg"></a>
                    <span>￥38.00</span>
                </li>
            </ul>
        </div>
    </div>

    <div>
        <div class="goodsmenu centerbox">
            <h2 class="fl">Fresh fruit</h2>
            <ul class="submenu fl">
                <li><a href="#">Fresh awn</a></li>
                <li><a href="#">California grape</a></li>
                <li><a href="#">Avocado</a></li>
            </ul>

            <a href="#" class="more fr">MORE&gt&gt</a>
        </div>

        <div class="goods centerbox">
            <div class="face fl">
                <img src="images/banner03.jpg">
            </div>
            <ul class="goodspic fl">
                <li>
                    <h4>Strawberry</h4>
                    <a href="#"><img src="images/goods_pic.jpg"></a>
                    <span>￥38.00</span>
                </li>
                <li>
                    <h4>Strawberry</h4>
                    <a href="#"><img src="images/goods_pic.jpg"></a>
                    <span>￥38.00</span>
                </li>
                <li>
                    <h4>Strawberry</h4>
                    <a href="#"><img src="images/goods_pic.jpg"></a>
                    <span>￥38.00</span>
                </li>
                <li>
                    <h4>Strawberry</h4>
                    <a href="#"><img src="images/goods_pic.jpg"></a>
                    <span>￥38.00</span>
                </li>
            </ul>
        </div>
    </div>

</div>


<div class="footer_box centerbox">
    <div class="links">
        <a href="#">about us</a>
        <span>|</span>
        <a href="#">contect us</a>
        <span>|</span>
        <a href="#">Recruitment</a>
        <span>|</span>
        <a href="#">links</a>
    </div>
    <p class="copyright">CopyRight © 2021 “Acowzon” All Rights Reserved</p>
    <p>电话：00000000000</p>
</div>

</body>
</html>
